<h1>Wishlists</h1>

<ul>
<% @lists.each do |list| %>
  <%= link_to list.user.username, list_path(list) if list.user != current_user %>
<% end %>
</ul>

<%= link_to "Or browse all gifts", gifts_path %>
