<h1>Wishlists</h1>

<ul class="wishlists">
  <% @lists.each do |list|%>
    <%= list.display_users %>
  <% end %>
</ul>

<h1>Or Browse Gifts</h1>
<%= render partial: 'gifts/gift_list', locals: {gifts: @gifts} %>
