<h1>Wishlists</h1>

<ul>
<% @lists.each do |list| %>
  <%= link_to list.user.username, list_path(list) if list.user != current_user %>
<% end %>
</ul>

<h1>Or Browse Gifts</h1>
<%= render partial: 'gifts/gift_list', locals: {gifts: @gifts} %>
