<h1><%= @list.user.username.capitalize %>'s Wishlist</h1>

<ul class="gift_list">
  <% @list.gifts.each do |gift| %>
    <li><%= image_tag gift.image %>
      <h3><%= link_to gift.name, gift_path(gift) %></h3>
          <%= button_to "Reviews", gift_reviews_path(gift), class:'card_button' %>
<% end %>
</ul>
