<h1><%= @list.user.username.capitalize %>'s Wishlist</h1

<ul>
  <% @list.gifts.each do |gift| %>
    <li><%= link_to gift.name, gift_path(gift) %></li> <br>
  <% end %>
</ul>

<%= link_to "Add a Gift", new_gift_path if @list.user == current_user %>
