
<%= tag.div class:"gift_list" do %>
  <% gifts.each do |gift| %>
    <li><%= link_to (image_tag gift.image), gift_path(gift) %>
        <h4><%= link_to shorten_name(gift.name), gift_path(gift) %></h4>
        <p><%= add_a_wishlist_button(gift, "card") %><p></li>
  <% end %>
<% end %>
