
<ul class="gift_list">
  <% gifts.each do |gift| %>
    <li><%= image_tag gift.image %>
        <h3><%= link_to gift.name, gift_path(gift) %></h3>
        <p><%= render partial: 'gifts/add_to_wishlist', locals: {gift: gift} %><p></li>
  <% end %>
</ul>
