<table>
<% gifts.each do |gift| %>
  <tr><td><%= image_tag gift.image %></td>
      <td><%= link_to gift.name, gift_path(gift) %><br> <br>
          <%= render partial: 'gifts/add_to_wishlist', locals: {gift: gift} %>
  </tr>
<% end %>
</table>
