<h1><%= params[:gift_search] ? "From Other Wishlists: " : "Browse Gifts" %></h1>
<%= render partial: 'gifts/gift_list', locals: {gifts: @gifts} %>

<h1>Results from Amazon: </h1>
<%= render partial: 'gifts/aws_search', locals: {item: params[:gift_search]} %>
