<h1><%= params[:gift_search] ? "From Other Wishlists: " : "Browse Gifts" %></h1>
<%= render partial: 'gift_list', locals: {gifts: @gifts} %>

<h1>Results from Amazon: </h1>
<%= render partial: 'aws_search', locals: {item: params[:gift_search]} %>
