<h1><%= @reviews.review_index_title(@gift, @user) %></h1>

<%= content_tag :div, class: "review_list" do %>
  <% @reviews.each do |review| %>
    <%= render partial: 'reviews/review_item', locals: {review: review} %>
  <% end %>
<% end %>

<%= @reviews.no_reviews(@gift, @user) %>
