
  <div class="top_bar">
    <div class="logo">
      <h1><%= link_to "Wishlist!", root_path %></h1>
    </div>
    <div class="search">
      <%= render 'gifts/aws_search_form' unless current_page?(controller: 'devise/sessions', action: 'new') || current_page?(controller: 'devise/registrations', action: 'new') %>
    </div>
    <div class="welcome">
      <%= link_to "Welcome #{current_user.username}", edit_user_registration_path if user_signed_in? %>
    </div>
  </div>
